ol{

    display: flex;
    text-decoration: none;
    margin-left: -500px;
    padding: 10px;
   
  
}
li
{
    list-style-type: none;
    float: right;
    color: white;
    margin-left: 80px;
    height: 50px;
    margin-top: -400px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
#search
{
    margin-left: 650px;
    margin-top: -400px;
    padding: 10px;
    

}
#sech
{
    margin-top: 8px;
    width: 150px;
}
#seach
{
    margin-top: 8px ;
    margin-left: 4px;  
}
#wt
{
    margin-top: 50px;
}
#wsbp
{
    width: 100%;
    margin-right: 1000px;
} 
.bimg
{
    background-image: url("./why-shopify-background-poster.png");
    padding: 400px;
    height: 100px;
}

.myabout
{
    width: 500px;
   margin-left: 800px;
   margin-top: -500px;
}
#sabout
{
 font-size: 30px;
}
.sn
{
  text-decoration: none;  
  color: rgb(88, 212, 171);
}
.myself
{
    text-decoration: none; 
    color: rgb(88, 212, 171);
    font-size: 20px;  
}
.number
{
    text-decoration: none;
}
.contect
{
    margin-left: 50px;
}
.imgs
{
  width: 30px;
  height: 30px;
  margin-left: 500px;
  margin-top: -90px;
}
.el
{
    margin-left: 540px;
    margin-top: -65px;
}
.aaa
{
    text-decoration: none;
    margin-left:500px;
    margin-top: -200px;
}






































